html,body{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f2f3f5;
    /* margin: 20px; */
    padding: 15px;
}
.layui-card-header{
    /* display: flex; */
    height: 50px;
    line-height: 40px;
    font-size: 12px;
}
.layui-btn{
    float: right;
} 
#form-add,#form-edit{
    padding-top: 30px;
    padding-right: 30px;
   
}
#diagAdd{
    height: 500px;
}